.dark-button {
  color: white !important;
  background-color: hsl(209, 23%, 22%) !important;

  -webkit-box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
  -moz-box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
  box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
}

.button {
  height: 30px;
  width: fit-content;

  display: flex;
  align-items: center;

  padding-left: 24px;
  padding-right: 24px;

  border-radius: 4px;
  background-color: white;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
}

.button > p {
  font-size: 14px;
  padding-left: 8px;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 6px 1px rgb(207, 207, 207);
  -moz-box-shadow: 0px 4px 6px 1px rgb(207, 207, 207);
  box-shadow: 0px 4px 6px 1px rgb(207, 207, 207);
}

.country-info-frame {
  height: calc(100vh - 194px);
  max-height: calc(100vh - 194px);
  display: flex;
  padding: 24px;
  overflow-x: hidden;
}

.country-info-frame > img {
  height: 75%;
  max-width: 40%;
  object-fit: contain;
}

.text-info-frame {
  height: 75%;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-top: auto;
  margin-bottom: auto;
}

.info-grid {
  display: flex;
  margin-top: 24px;
}

.dark-name-cd {
  color: white !important;
}

.name-cd {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
}

.dark-country-item-cd > div {
  color: white !important;
}

.country-item-cd {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
}

.border-countries-frame {
  width: fit-content;
  max-width: 100%;
  margin-top: 48px;
}

.border-countries-frame .small-label-cd{
  white-space: nowrap;
}

.value-cd {
  font-size: 13px;
  font-weight: lighter;
}

.small-label-cd {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-right: 8px;
}

.dark-chip {
  border: none !important;
  background-color: hsl(209, 23%, 22%) !important;
}

.chip {
  height: fit-content;
  min-height: 15px;

  width: fit-content;
  min-width: 60px;

  display: grid;
  place-items: center;

  margin: 0 12px 12px 0 !important;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  border: solid;
  border-radius: 4px;
  border-color: gainsboro;
  border-width: 1px;

  font-size: 12px;
  font-weight: normal;

  cursor: pointer;
}

@media (max-width: 907px) {
  .info-grid {
    flex-direction: column;
  }

  .border-countries-frame {
    display: flex;
    flex-direction: column;
  }

  .chip {
    margin-bottom: 8px;
  }

  .border-countries-frame > .small-label-cd {
    margin-bottom: 18px;
  }
}

@media (max-width: 707px) {
  .country-info-frame {
    overflow-y: auto;
    flex-direction: column;
  }
  
  .country-info-frame > img {
    max-width: 80%;
    max-height: 200px;
    margin-bottom: 24px;
    align-self: center;
  }
  
  .text-info-frame {
    height: fit-content;
  }
  
  .grid-right {
    margin-top: 18px;
  }
  
  .border-countries-frame {
    width: 100%;
  }
  
  .border-countries-frame > .small-label-cd {
    margin-bottom: 12px;
  }
  
  .country-item-cd, .name-cd {
    padding: 0;
  }
}