* {
  font-family: 'Nunito Sans', sans-serif;
}

.frame {
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.397);
  overflow: hidden;
}

.dark-frame {
  background: hsl(207, 26%, 17%) !important;
}

.dark-header {
  background: #2B3743 !important;
  color: rgba(255, 255, 255, 0.781) !important;

  -webkit-box-shadow: 0px 3px 5px 0px #222f365e;
  -moz-box-shadow: 0px 3px 5px 0px #222f365e;
  box-shadow: 0px 3px 5px 0px #222f365e !important;
}

.header {
  height: 60px;

  padding-left: 24px;
  padding-right: 24px;

  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);

  background-color: white;
}

.app-title-frame {
  display: flex;
}

.dark-button-custom {
  background: transparent !important;
  color: rgba(255, 255, 255, 0.781) !important;
}

.button-custom {
  height: 30px;

  font-size: 12px !important;
  text-transform: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.button-custom:hover {
  background: rgba(235, 235, 235, 0.479) !important;
}

.grid {
  height: calc(100vh - 156px);
  overflow-y: auto;
}

#root > div > div.body {
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  width: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
}

.theme-switcher {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.theme-switcher:hover {
  border-radius: 4px;

  cursor: pointer;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
}

.MuiInput-underline:before {
  border-bottom: none !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #e2e2e2 !important;
}

.toolbar {
  height: fit-content;

  display: flex;
  justify-content: space-between;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 28px;
  padding-bottom: 28px;
  background: none !important;
}

.textfield {
  width: calc(100% - 58px);
  padding-left: 14px !important;
  font-size: 14px !important;
}

.dark-search-bar {
  background-color: hsl(209, 23%, 22%) !important;
  color: rgb(255, 255, 255) !important;
}

.search-bar {
  height: 40px;
  width: 25%;
  min-width: 300px;
  max-width: 550px;

  border-radius: 4px;
  padding-left: 14px;

  display: flex;
  align-items: center;

  background-color: white;
}

.dark-filter {
  background-color: hsl(209, 23%, 22%) !important;
  color: rgba(255, 255, 255, 0.705) !important;
}

.filter {
  height: 40px;
  width: 200px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  
  background-color: white;
}

.dark-filter:hover {
  -webkit-box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
  -moz-box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
  box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
}

.filter:hover {
  cursor: pointer;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
}

.dark-search-bar .MuiSvgIcon-colorAction {
  color: rgba(255, 255, 255, 0.541);
}

.dark-search-bar input {
  color: rgb(255, 255, 255);
}

#customized-menu > div.MuiPaper-root.MuiMenu-paper.Component-paper-189.MuiPopover-paper.MuiPaper-elevation0.MuiPaper-rounded > ul > li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.WithStyles\(ForwardRef\(MenuItem\)\)-root-190.Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected:focus {
  background-color: hsl(209, 23%, 22%) ;
}


.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:focus {
  background-color: rgba(224, 224, 224, 0.671) !important;
}

.dark-regions-options .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:focus {
  background-color: hsla(208, 46%, 75%, 0.185) !important;
}

.MuiListItemText-root span {
  color: black !important;
}

.regions-options .MuiMenuItem-root {
  max-height: 33px;
  width: 224px !important;
}

.dark-regions-options .MuiMenuItem-root span {
  color: rgba(255, 255, 255, 0.815) !important;
}
  
.dark-regions-options .MuiPaper-root {
  width: 224px;

  margin-top: 4px;
  /* transform: translateX(-10px) !important; */
  border: none !important;
  background-color: transparent !important;

  -webkit-box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
  -moz-box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
  box-shadow: 0px 3px 5px 0px hsl(208, 28%, 14%) !important;
}

.dark-regions-options .MuiList-root {
  background-color: hsl(209, 23%, 22%) !important;
}

@media (max-width: 650px) {

  .grid {
    height: calc(100vh - 208px);
  }

  .toolbar {
    flex-direction: column;
  }

  .filter {
    margin-top: 12px;
  }

  .search-bar{
    width: 90%;
    min-width: 95%;
  }
}