.frame {
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.397);
  overflow: hidden;
}

.header {
  height: 60px;

  padding-left: 24px;
  padding-right: 24px;

  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);

  background-color: white;
}

.button-custom {
  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228) !important;
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228) !important;
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228) !important;
}

.button-custom:hover {
  background: rgba(235, 235, 235, 0.562) !important;
}

.grid {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

#root > div > div.body {
  height: 100%;
}

.theme-switcher {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.theme-switcher:hover {
  border-radius: 4px;

  cursor: pointer;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
}

.MuiInput-underline:before {
  border-bottom: none !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #e2e2e2 !important;
}

.toolbar {
  height: fit-content;

  display: flex;
  justify-content: space-between;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 28px;
  padding-bottom: 28px;
  background: none !important;
}

.textfield {
  width: calc(100% - 58px);
  padding-left: 14px !important;
  font-size: 14px !important;
}

.search-bar {
  height: 40px;
  width: 25%;
  min-width: 300px;
  max-width: 550px;

  border-radius: 4px;
  padding-left: 14px;

  display: flex;
  align-items: center;

  background-color: white;
}

.filter {
  height: 40px;
  width: 200px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  
  background-color: white;
}

.filter:hover {
  cursor: pointer;

  -webkit-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
  box-shadow: 0px 3px 5px 0px rgb(228, 228, 228);
}

#customized-menu > div.MuiPaper-root.MuiMenu-paper.Component-paper-12.MuiPopover-paper.MuiPaper-elevation0.MuiPaper-rounded > ul > li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.WithStyles\(ForwardRef\(MenuItem\)\)-root-13.Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected:focus {
  background-color: #437fee57;
}

#customized-menu > div.MuiPaper-root.MuiMenu-paper.Component-paper-12.MuiPopover-paper.MuiPaper-elevation0.MuiPaper-rounded > ul > li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.WithStyles\(ForwardRef\(MenuItem\)\)-root-13.Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected > div > span {
  color: black;
  font-weight: bold;
}

@media (max-width: 650px) {

  .toolbar {
    flex-direction: column;
  }

  .filter {
    margin-top: 12px;
  }

  .search-bar{
    width: 90%;
    min-width: 95%;
  }
}